<!-- 
<div class="container-fluid">
    <div class="card" *ngFor="let player of players">
        <img class="card-img-top" style="width: 200px; height: 200px;" [src]="player.avatar" alt="{{player.name}}">
        <div class="card-body">
            <h5 class="card-title">{{player.name | uppercase}}</h5>
            <p class="card-text">Age: {{player.age}}</p>
            <p class="card-text">City: {{player.city}}</p>
            <p class="card-text">Gender: {{player.gender}}</p>
            <p class="card-text">TeamName: {{player.teamName}}</p> 
            <button type="button" class="btn-primary" (click)="deletePlayer(player.id)">delete</button>
         
        </div>
    </div>
 
</div> -->
