

<div class="container-fluid">
    <h2 style="text-decoration: underline;">update Player</h2>
    <label>Player id</label>
    <input class="form-control" type="text" [(ngModel)]="player.id" #id>
    
    <label>Player Name</label>
    <input class="form-control" type="text" [(ngModel)]="player.name">
    <label>Player Age</label>
    <input class="form-control" type="text" [(ngModel)]="player.age">
    <label>Player City</label>
    <input class="form-control" type="text" [(ngModel)]="player.city">
    <label>Gender</label>
    <input class="form-control" type="text" [(ngModel)]="player.gender">
    <label>Avatar/Image</label>
    <input class="form-control" type="text" [(ngModel)]="player.avatar">
    <div class="form-group">
        <label for="my-select">Select Player Team</label>
        <select id="my-select" class="form-control" [(ngModel)]="player.team.teamName">
            <option value="India">India</option>
            <option value="Srilanka">Srilanka</option>
            <option value="Windies">Windies</option>
            <option value="South Africa">South Africa</option>
            <option value="Other Country">Other</option>
        </select>
    </div>
    <br />
    <br />
    <button class="btn btn-primary" type="button" (click)="savePlayer(player,player.id)">update Player</button>

</div>