
<div class="container">
 
    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Age</th>
                <th>city</th>
                <th>gender</th>
                <th>teamName</th>
                <th>image</th>
                <th>Delete</th>
                <th>update</th>
            </tr>
        </thead>
        <tbody> 
            <!-- <app-add-player
            [serElement]="refreshPlayer()"></app-add-player> this is an example how to use an input 
        decorator for component to component interaction --> 
          <tr *ngFor ="let player of players">
                <td>{{player.id}}</td>
                <td>{{player.name}}</td>
                <td>{{player.age}}</td>
                <td>{{player.city}}</td>
                <td>{{player.gender}}</td>
                <td>{{player.team.teamName}}</td>
                <td><img class="img-thumbnail" [src]="player.avatar"></td>
                <td><button type="button" class="btn btn-danger" (click)="deletePlayer(player.id)">delete</button></td>
                <td><button type="button" class="btn btn-warning" (click)="savePlayer(player.id)">update</button></td>
            </tr>
        </tbody>
    </table>

</div> 